version: '3'

#----------------------------------------------------
#---------------------- SERVICES --------------------
#----------------------------------------------------

services:

# ---------------------- PYTHON 90
  web:
    build: .
    container_name: python-flask-2
    restart: always

    volumes:
      - ./app:/app
      - ./conf/credentials.py:/usr/local/lib/python3.8/site-packages/geoenrich/credentials.py
    ports:
      - "8080:8080"
    environment:
      - FLASK_APP=main.py
      - FLASK_DEBUG=1
      - 'RUN=flask run --host=0.0.0.0 --port=8080'
    command: bash -c "cat /home/initialize.py && python /home/initialize.py
             && rm /home/initialize.py
             && flask run --host=0.0.0.0 --port=8080"
